<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<link href="/css/loginAndRegisterCustom.css" rel="stylesheet">
    <title>Edit Profile Heed.place</title>
  </head>

  <body>
<%- include ('../partials/navbar.ejs') %>
<main role="main" class="col-md-9 mx-sm-auto col-lg-10">
  <section>
    <div class="container-fluid">
<div class="text-center card-body">
  <div class=”row”>
    <div class=”col-6 align-self-center”>
      <div class=”card card-block”>
<%- include('../partials/flashMessagesAndErrors.ejs') %>
        <form class="form-signin" role="form" method="POST" action="/api/users/update-profile?_method=PUT">
          <h1 class="h3 mb-3 font-weight-normal">Please Edit Your Information Below</h1>
          <label for="inputName" class="sr-only">Name:</label>
          <br />
          <input type="text" id="inputName" name="name" class="form-control" placeholder="<%= user.profile.name %>">
          <br />
          <label for="inputEmail" class="sr-only">Email address:</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="<%= user.email %>">
          <br />
          <label for="InputAboutMe" class="sr-only">About Me:</label>
          <textarea type="text" id="InputAboutMe" name="aboutme" class="form-control" placeholder="<%= user.profile.about %>" rows="6"></textarea>
          <br />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Update Profile Data</button>
        </form>
        <form class="form-signin" role="form" method="POST" action="/api/users/update-password?_method=PUT">
          <h1 class="h3 mb-3 font-weight-normal">Please Edit Your Information Below</h1>
          <label for="inputCurrPassword" class="sr-only">Current Password</label>
          <br />
          <input type="password" id="inputCurrPassword" name="currPassword" class="form-control" placeholder="Current Password">
          <br />
          <label for="inputNewPassword" class="sr-only">New Password</label>
          <input type="password" id="inputNewPassword" name="newPassword" class="form-control" placeholder="New Password">
          <br />
          <label for="InputVerifyNewPassword" class="sr-only">Verify New Password</label>
          <input type="password" id="InputVerifyNewPassword" name="verifyNewPassword" class="form-control" placeholder="Verify New Password"></input>
          <br />
          <button class="btn btn-lg btn-primary btn-block" type="submit">Update Profile Password</button>
        </form>
      </div>
      </div> 
      </div>
      </div>
      </div>
      </section> 
    </main>
      <%- include ('../partials/footer.ejs') %>
</body>
</html>