
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<!-- <script src="/js/timerJSDOM.js"></script> -->
<!-- font awesome css -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>Project Home Heed.place home</title>
    
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>

        <main role="main" class="col-md-9 mx-sm-auto col-lg-10">
          <%- include('../partials/flashMessagesAndErrors.ejs') %>
          
          <div class="container">
            <div class="row">
              <% for( let t = 0; t < projects.length; t++ ) { %>
                <div class="col-md-4" style="margin-bottom: 30px;">
              <div class="card" style="border-radius: 0;">
                <div class="d-flex justify-content-around"><i class="fa fa-<%= projects[t].projectIcon %> fa-5x" aria-hidden="true"></i></div>
                
                <div class="card-body">
                  <h5 class="card-title"><%= projects[t].projectName %></h5>
                  <p class="card-text">
                    <% for( let q = 0; q < projects[t].tasks.length; q++ ) { %>
                      <div class="row"><span >
                        
                        <a style="color: cornflowerblue; text-decoration: none;" href="/api/users/projects/tasks/task-home/<%= projects[t].tasks[q].task._id %>"><i class="fa fa-tasks" aria-hidden="true">&nbsp;</i><%= projects[t].tasks[q].task.taskName %></a>
                          
                          
                          <span style="font-size:1.2em;color:rgb(117, 10, 10);padding-right:10px;"><%= projects[t].tasks[q].task.pomodorosDone %></span>
                        
                </span></div>
                      

                    
                    <% } %>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-around">
                  <a href="/api/users/projects/edit-project/<%= projects[t].projectName %>" class="btn btn-primary">Edit Project</a>
                  <a href="/api/users/projects/tasks/create-task/<%= projects[t].projectName %>" class="btn btn-info">Add Task</a>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
        </main>
      </div>
    </div>
    <%- include ('../partials/footer.ejs') %>
    <script src="/js/timerJSDOM.js"></script>
  </body>
</html>