<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<link href="/css/loginAndRegisterCustom.css" rel="stylesheet">
<!-- font awesome css -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>Create Project Heed.place</title>
  </head>

  <body>
<%- include ('../partials/navbar.ejs') %>
<main role="main" class="col-md-9 mx-sm-auto col-lg-10">
  <% if (user) { %>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/api/users/reports-home">Home</a></li>
        <li class="breadcrumb-item"><a href="/api/users/projects/all-projects">All Projects</a></li>
        <li class="breadcrumb-item"><a href="/api/users/projects/tasks/task-home/<%= foundTaskToEdit._id %>">Task Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Task: <%= foundTaskToEdit.taskName %></li>
      </ol>
    </nav>
    
  <% } %>
  <section>
    <div class="container-fluid">
<div class="text-center card-body">
  <div class=”row”>
    <div class=”col-6 align-self-center”>
      <div class=”card card-block”>
<%- include('../partials/flashMessagesAndErrors.ejs') %>
        <form class="form-signin" role="form" method="POST" action="/api/users/projects/tasks/edit-task/<%= foundTaskToEdit._id %>?_method=PUT">
          <h1 class="h3 mb-3 font-weight-normal">Edit Your Task Details</h1>
          <label for="inputProjectName" class="sr-only">Name of Your project</label>
          <br />
          <input type="text" id="inputTaskName" name="taskName" class="form-control" placeholder="<%= foundTaskToEdit.taskName %>">
          <br />

            <br />
          </div>
          <textarea type="text" id="inputTaskDescription" name="taskDescription" class="form-control form-signin"  placeholder="<%= foundTaskToEdit.taskDescription %>" rows="6"></textarea>
          <br />
          <button class="btn btn-lg btn-primary btn-block form-signin" type="submit">Update Edited Task</button>
        </form>


<!-- Button trigger modal -->
<button class="btn btn-sm btn-outline-danger btn-block form-signin" data-toggle="modal" data-target="#DeleteTask">DANGER Delete</button>
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteTask" tabindex="-1" role="dialog" aria-labelledby="DeleteTask" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteTask">Save Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your task
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form role="form" method="POST" action="/api/users/projects/tasks/delete-task/<%= foundTaskToEdit._id %>?_method=DELETE">
          <button type="submit" class="btn btn-outline-danger">Carefully delete</button>
        </form>
      </div>
    </div>
  </div>
</div>


        
      </div>
      </div> 
      </div>
      </div>
      </div>
      </section> 
    </main>
      <%- include ('../partials/footer.ejs') %>
</body>
</html>