<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
<link href="/css/loginAndRegisterCustom.css" rel="stylesheet">
<link href="/css/jquery.minicolors.css" rel="stylesheet">
<!-- font awesome css -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
    <title>Edit Category Heed.place</title>
  </head>

  <body>
<%- include ('../partials/navbar.ejs') %>
<main role="main" class="col-md-9 mx-sm-auto col-lg-10">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/api/users/reports-home">Home</a></li>
      <li class="breadcrumb-item"><a href="/api/users/projects/all-projects">All Projects</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit Category</li>
    </ol>
  </nav>


  <section>
    <div class="container-fluid">
<div class="text-center card-body">
  <div class=”row”>
    <div class=”col-6 align-self-center”>
      <div class=”card card-block”>
<%- include('../partials/flashMessagesAndErrors.ejs') %>
<form id="trickyForm" class="form-signin" role="form" method="POST" action="/api/users/projects/categories/edit-category/emptyBLEhDKLSNMCKLVKLSKLEUEENFIMDFHNDSKLJHsshkdfnvklnxcnmlDKJFGSHKDGsldkjlkcvxmxlkjdlfgkslgkhzlxckvbnmklzhgfklhd?_method=PUT">
  
  
          <h1 class="h3 mb-3 font-weight-normal">Edit your Category, please choose category to change from drop down and provide new data to change</h1>
          <label for="inputProjectName" class="sr-only">Name of Your project</label>
          <br />
          <input type="text" id="inputToChangeCategoryNewName" name="toChangeCategoryNewName" class="form-control" placeholder="New Name of Category to Edit">
          
          <br />
          <% if (categoriesToChooseFromThatExistAlready.length) { %>
            <div class="form-signin">
              <label for="CategoriesDropDown">Choose already created Category:</label>
              <select id="ChoseCategoryTrickyForFormIDRequest" name="categoryNameDropDown" onchange="getSelectedOption()">
                <option value="empty"><span>CHOOSE A CATEGORY TO CHANGE</span></option>
                <% for( let c = 0; c < categoriesToChooseFromThatExistAlready.length; c++ ) { %>
                  <option value="<%= categoriesToChooseFromThatExistAlready[c].categoryName %>" style="background-color: <%= categoriesToChooseFromThatExistAlready[c].categoryColor %>"><span><%= categoriesToChooseFromThatExistAlready[c].categoryName %></span></option>
                  
                  <% } %>
                </select>
              </div>
              <% } else { %>
                  
                <label for="inputNewToCreateCategoryName">Create New Category</label>
                <input type="text" id="inputNewToCreateCategoryName" name="newCategoryName" class="form-control" placeholder=" new category name">
                
                <% } %>

              <div class="form-group">
                <label for="wheel-demo">Color of Your New Category Color input HEX WITH # character code:</label>
                <input type="text" id="InputToChangeCategoryNewColor" name="toChangeCategoryNewColor" class="form-control demo" data-control="wheel" value="#ff99ee">
              </div>
              
              
              <button id="trickyFormSubmitButton" class="btn btn-lg btn-primary btn-block" type="submit">Update Edit Category</button>
            </form>
          </div>
        </div>
      </div> 
    </div>

<!-- Button trigger modal -->
<button class="btn btn-sm btn-outline-danger btn-block form-signin" data-toggle="modal" data-target="#DeleteCategory">DANGER Delete Project and its tasks</button>
</button>

<!-- Modal -->
<div class="modal fade" id="DeleteCategory" tabindex="-1" role="dialog" aria-labelledby="DeleteCategory" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeleteCategory">Save Progress</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your category and all its Projects this CANNOT be undone, if you want you can change some projects parent categories to save them in another category via edit Project functionality
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form id="trickyFormForDeleteCategoryByUniqueName" role="form" method="POST" action="/api/users/projects/categories/delete-category/emptyBLEhDKLSNMCKLVKLSKLEUEENFIMDFHNDSKLJHsshkdfnvklnxcnmlDKJFGSHKDGsldkjlkcvxmxlkjdlfgkslgkhzlxckvbnmklzhgfklhd?_method=DELETE">
          <button type="submit" class="btn btn-outline-danger">Carefully delete</button>
        </form>
      </div>
    </div>
  </div>
</div>




  </div>

                <script>
                  let selectTag = document.getElementById('ChoseCategoryTrickyForFormIDRequest');
                  function getSelectedOption() {
                    let selectedOption = selectTag;
                    for (let a = 0; a < selectTag.options.length; a++ ) {
                      selectedOption = selectTag.options[a];
                      if(selectedOption.selected === true) {
                        let valueOfSelectedOption = selectedOption.text;
                        document.getElementById('trickyForm').action = '/api/users/projects/categories/edit-category/' + valueOfSelectedOption + '?_method=PUT';
                        document.getElementById('trickyFormForDeleteCategoryByUniqueName').action = '/api/users/projects/categories/delete-category/' + valueOfSelectedOption + '?_method=DELETE';
                        break;
                      }
                    }
                
                
                
                  }
                
                </script>
      </section> 
    </main>
      <%- include ('../partials/footer.ejs') %>
      <script src="/js/jquery-1.10.2.min.js"></script>
      <script src="/js/jquery.minicolors.min.js"></script>

      <script type="text/javascript">
        $(function(){
          var colpick = $('.demo').each( function() {
            $(this).minicolors({
              control: $(this).attr('data-control') || 'hue',
              inline: $(this).attr('data-inline') === 'true',
              letterCase: 'lowercase',
              opacity: false,
              change: function(hex, opacity) {
                if(!hex) return;
                if(opacity) hex += ', ' + opacity;
                try {
                  console.log(hex);
                } catch(e) {}
                $(this).select();
              },
              theme: 'bootstrap'
            });
          });
          
          var $inlinehex = $('#inlinecolorhex h3 small');
          $('#inlinecolors').minicolors({
            inline: true,
            theme: 'bootstrap',
            change: function(hex) {
              if(!hex) return;
              $inlinehex.html(hex);
            }
          });
        });
        </script>
</body>
</html>