
<!doctype html>
<html lang="en">
  <head>
<%- include('../partials/head.ejs') %> 
    <title>Heed.place home</title>
    
  </head>
  <body>
    <%- include ('../partials/navbar.ejs') %>

        <main role="main" class="col-md-9 mx-sm-auto col-lg-10">
          <%- include('../partials/flashMessagesAndErrors.ejs') %>
          <% if (user) { %>
            <div id="canvas-holder" style="width:100%">
              <canvas id="chart-area"></canvas>
            </div>
            <button id="changeCircleSize">Semi/Full Circle</button>

          <% } else if(!user)  { %>
          <div class="card">
            <div class="card-body">
              <div class="text-center card-title">The premise of this website is a task management system utilizing pomodoro technique at its core. This is a student project that utilizes MongoDB database, EJS Template Engine, and requires a login, please create an account(no email is sent for verification) to review all the possible features of the website</div>
                <div class="text-center h1 card-text">
                  <div id="pomodoroMain">
                   
                    <div class="values">00:25:00</div>
                      <div>
                          <button class="startButton">Start</button>
                        
                          <button class="stopButton">Stop</button>
                   
                      </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">
                  <br />
                  <br />
          
                
                </div>
            </div>
          </div>
          <% } %>
          <%- include ('../partials/footer.ejs') %>
        </main>
        <% if (user) { %>
         
            <% for( let catIndex = 0; catIndex < projectsForChartJsHomeReports.length; catIndex++ ) { %>
              <div style="display: none; visibility: hidden;">
                <div id="categoryData<%- catIndex %>" style="display: none; visibility: hidden;">
                  <div id="categoryName<%- catIndex %>" style="display: none; visibility: hidden;"><%= projectsForChartJsHomeReports[catIndex].category[0].categoryName %> | <%= projectsForChartJsHomeReports[catIndex].projectName %></div>
                  <div id="categoryColor<%- catIndex %>" style="display: none; visibility: hidden;"><%= projectsForChartJsHomeReports[catIndex].category[0].categoryColor %></div>
                  <div id="categoryTaskTotalsForPomodoros<%- catIndex %>" style="display: none; visibility: hidden;"><% let totalPomodoroCountForGivenCategory = 0 %>
                    <% for( let countTaskPomdorosIndex = 0; countTaskPomdorosIndex < projectsForChartJsHomeReports[catIndex].tasks.length; countTaskPomdorosIndex++ ) { %>
                                                                                                                      <% totalPomodoroCountForGivenCategory += Number(projectsForChartJsHomeReports[catIndex].tasks[countTaskPomdorosIndex].task.pomodorosDone) %>
                                                                                                                      <% } %>
                                                                                                                    <%= totalPomodoroCountForGivenCategory %> 
                                                                                                                    
                                                                                                                  </div>
                                                                                                                </div>
          <% } %>
        
        <% } %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/easytimer@1.1.1/src/easytimer.min.js"></script>

    
    <script>
            // Main Pomodoro
            let timer = new Timer();
            $('#pomodoroMain .startButton').click(function () {
                timer.start({ startValues: [0,0,25,0,0], countdown: true, target: [0,0,0,0,0] });
            });
            
            
            $('#pomodoroMain .stopButton').click(function () {
                timer.stop();
            });
      
            timer.addEventListener('targetAchieved', function (e) {
              let audio = new Audio('/assets/ringtones/Heed_ringtone_end_pomodoro.mp3');
              audio.play();
            });
      
            timer.addEventListener('secondsUpdated', function (e) {
                $('#pomodoroMain .values').html(timer.getTimeValues().toString());
            });
            
            timer.addEventListener('started', function (e) {
                $('#pomodoroMain .values').html(timer.getTimeValues().toString());
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

  
      let config = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: [

            ],
            backgroundColor: [

            ],
            label: 'Category Doughnut Pomodoros Chart'
          }],
          labels: [

          ]
        },
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          title: {
            display: true,
            text: 'Your Pomodoros Done Doughnut Chart'
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        }
      };
  
      window.onload = function() {
        let ctx = document.getElementById('chart-area').getContext('2d');

        $("div[id^='categoryColor']").each(function () {
          let c = $(this).text();
          
            config.data.datasets[0].backgroundColor.push(c)
          
   
        });

        $("div[id^='categoryName']").each(function () {
            let i = $(this).text();
          
            
              config.data.labels.push(i)
            
      
        });

        $("div[id^='categoryTaskTotalsForPomodoros']").each(function () {
        let p = $(this).text();
        let numbedP = parseInt(p)
  
          config.data.datasets[0].data.push(numbedP)
       
        
 
});
        window.myDoughnut = new Chart(ctx, config);
      };

  
      document.getElementById('changeCircleSize').addEventListener('click', function() {
        if (window.myDoughnut.options.circumference === Math.PI) {
          window.myDoughnut.options.circumference = 2 * Math.PI;
          window.myDoughnut.options.rotation = -Math.PI / 2;
        } else {
          window.myDoughnut.options.circumference = Math.PI;
          window.myDoughnut.options.rotation = -Math.PI;
        }
  
        window.myDoughnut.update();
      });
    </script>
    
  </body>
</html>